$bgColor: #869ecc;
$borderColor: rgb(64, 103, 219);
$foreColor: complement($bgColor);
.thread-preview {
  cursor: pointer;
  font-weight: bold;
  overflow: hidden;
  border-radius: 1em;
  border: 2px solid $borderColor;
  .last-comment {
    background-color: $bgColor;
    border-left: 2px solid $borderColor;
  }
  .thread-title {
    background-color: lighten($bgColor, 20%);
  }
  .thread-title,
  .last-comment {
    padding-top: 0.3em;
    padding-bottom: 0.3em;
  }
}

.thread-content {
  border-radius: 1em;

  .comments {
    overflow: hidden;
    margin: 0;
    border-radius: 1em;
  }
}
