<div class="card w-50 m-auto">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a
          [routerLink]="['/login']"
          class="nav-link"
          [ngClass]="{ active: targetForm === 'login' }"
        >
          Login
        </a>
      </li>
      <li class="nav-item">
        <a
          [routerLink]="['/signup']"
          class="nav-link"
          [ngClass]="{ active: targetForm === 'signup' }"
          >Sign Up</a
        >
      </li>
    </ul>
  </div>
  <div class="card-body">
    <login-form *ngIf="targetForm === 'login'; else signup"></login-form>
    <ng-template #signup>
      <signup-form></signup-form>
    </ng-template>
  </div>
</div>
