<form method="POST" action="/login" (submit)="onSubmit()">
  <div class="">
    <div class="card-title text-center">
      <h3>Login</h3>
    </div>
    <div class="form-group">
      <label for="inputUsername">Username:</label>
      <input
        [(ngModel)]="username"
        type="text"
        name="inputUsername"
        id="inputUsername"
        placeholder="Enter your username"
        class="form-control"
        required
        #inputUsername="ngModel"
      />
    </div>
    <div class="form-group">
      <label for="inputPassword">Password:</label>
      <input
        type="password"
        [(ngModel)]="password"
        name="inputPassword"
        id="inputPassword"
        placeholder="Password"
        class="form-control"
        required
        #inputPassword="ngModel"
      />
    </div>
    <div class="alert alert-danger" *ngIf="inputPassword.touched && inputPassword.invalid || inputUsername.touched && inputUsername.invalid">
        Missing username or password
    </div>
    <input type="submit" class="btn btn-primary" value="Login"/>
    <div *ngIf="loginError.length > 0" class="alert alert-danger">
      <p>{{loginError}}</p>
    </div>
  </div>
</form>
