<div *ngIf="waiting || childWaiting" class="loader">
  <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
</div>
  <div *ngIf="currentUser !== undefined">
      <div class="w-75 m-auto d-flex justify-content-end" *ngIf="currentUser != undefined">
          <span class="mr-3 align-self-center">
            Username:
            <b>
                {{currentUser.username}}
            </b>
          </span>
          <button class="btn btn-danger float-right mr-5" (click)="logout()">Log out</button>
      </div>
  </div>
  <div>
    <threads-page (onLoaded)="childLoaded()"></threads-page>
  </div>
